BasedOnStyle: Google
IndentWidth: 2
AccessModifierOffset: -1
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: true
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: false
